/* font */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common */
.btn-c{
  color: #FFFFFF;
  background-color: #4E47FF;
  font-size: 1.12rem;
  border-radius: 6px;
  font-weight: 500;
  padding: 15px 30px;
  border: none;
}
.fsz{
  font-size: 4rem;

}

/* header */
.header01{
  background-image: url(../Assets/Hero-bg.png);
}

/* nav bar */
.navo{
  display: flex;
  justify-content: space-around;
}
.navo-2{
  text-align: center;
  margin-top: 120px;
}
.l{
  font-size: 2.1rem;
  font-weight: 800;
  color: #4E47FF;
}
